<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<base href="/">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="libs/bootstrap4/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<title>Scan barcode to document</title>
  </head>
  <body ng-app="appBarcodeToDocument">
		<header class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
			<a class="navbar-brand" href="#">Barcorder</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
				<div class="navbar-nav mr-auto mt-2 mt-lg-0">
					<a class="nav-item nav-link active" href="/#!/documents">Documents<span class="sr-only">(current)</span></a>
					<a class="nav-item nav-link" href="" data-toggle="modal" data-target="#modalDocumentCreate">Create document</a>
					<a class="nav-link nav-link" href="/#!/about">About</a>
				</div>
			</div>
		</header>
		<div class="pt-5"></div>
		<main class="container mt-4">
			<div class="ng-view"></div>
		</main>
		
		<div class="modal fade" id="modalDocumentDisplay" tabindex="-1" role="dialog" aria-labelledby="modalDocumentDisplayLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="modalDocumentDisplayLabel">
							Viewing document <span ng-bind="modal.documentDisplay.document.id"></span>
						</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="card card-primary">
							<div class="card-body">
								<div class="table-responsive" style="max-height: 90vw;">
									<table class="table table-hover">
										<thead>
											<tr>
												<th>IMTS #</th>
												<th>-</th>
												<th>-</th>
												<th>-</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="row in modal.documentDisplay.document.data track by $index">
												<td ng-repeat="col in row track by $index" ng-bind="col"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary disabled">Export</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="modalDocumentCreate" tabindex="-1" role="dialog" aria-labelledby="modalDocumentDisplayLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content" ng-controller="DocumentCreateController">
					<div class="modal-header">
						<h5 class="modal-title" id="modalDocumentCreateLabel">Create document</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form>
							<div class="form-group">
								<label for="documentId">Document ID</label>
								<input id="documentId" class="form-control" type="text" placeholder="Think of an ID for your document" required ng-model="document.id">
							</div>
							<div class="form-group">
								<label for="documentDescription">Description</label>
								<input id="documentDescription" class="form-control" type="text" placeholder="Enter description of the document here" ng-model="document.description">
							</div>
							<input type="hidden" ng-model="document.type" required>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" ng-click="onCreate()">Create</button>
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>

		<script src="libs/jquery-3.3.1.min.js"></script>
		<script src="libs/quagga_0.12.1/quagga.js"></script>
		<script src="libs/angularjs_1.7.5/angular.min.js"></script>
		<script src="libs/angularjs_1.7.5/angular-route.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="libs/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="libs/bootstrap4/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<script src="js/init_app.js"></script>
		<script src="js/DocumentStoreService.js"></script>
		<script src="js/ModalDataService.js"></script>
		<script src="js/BarcodeScannerController.js"></script>
		<script src="js/DecodedListController.js"></script>
		<script src="js/DocumentCreateController.js"></script>
		<script src="js/DocumentListController.js"></script>
		<script src="js/DocumentController.js"></script>
		<script src="js/HomePageController.js"></script>
		<script src="js/SelectedDataController.js"></script>
  </body>
</html>