<div class="row">
	<div class="col-12">
	<div class="alert alert-info" role="alert">
		Last time you had worked on document with id <b ng-bind="lastDocumentId"></b>, 
		<a class="alert-link" ng-click="" href="">tap me to continue your work</a>
	</div>
	<div class="card card-primary outline-primary border-primary">
		<div class="card-header">Document list</div>
		<div class="card-body">
			<div class="alert alert-info" role="alert">
				There are no documents available,
				<a class="alert-link" ng-click="" href="">tap me to create one</a>
			</div>
			<div class="card-columns">
				<div class="card">
					<div class="card-body">
						<p class="card-text">
							<small class="">Type: <span >table</span></small>
							<br>
							<small class="text-muted">ID: <span >!dZ2EQ21Z</span></small>
						</p>
						<p class="card-text" >This document store scanned barcodes from east wing</p>
						<div class="btn-group">
							<button type="button" class="btn btn-primary">View</button>
							<button type="button" class="btn btn-primary">Edit</button>
							<button type="button" class="btn btn-danger">Delete</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card-footer"></div>
	</div>
	</div>
</div>