<div class="row">
	<div class="col-12">
	<div class="alert alert-info" role="alert">
		Last time you had worked on document with id <b ng-bind="lastDocumentId"></b>, 
		<a class="alert-link" ng-click="" href="">tap me to continue your work</a>
	</div>
	<div class="card card-primary outline-primary border-primary">
		<div class="card-header">Document list</div>
		<div class="card-body">
			<div class="alert alert-info" role="alert">
				There are no documents available,
				<a class="alert-link" ng-click="" href="">tap me to create one</a>
			</div>
			<form class="d-flex my-2 justify-content-center">
				<input class="form-control col-md-8 mr-2 col-lg-6" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-secondary" type="submit">Search</button>
			</form>
			<div class="card-deck">
				<div class="card" ng-repeat="doc in documents">
					<div class="card-body">
						<p class="card-text">
							<small class="h6">ID: <span ng-bind="doc.id">!dZ2EQ21Z</span></small>
							<br>
							<small class="">Type: <span ng-bind="doc.type">table</span></small>
						</p>
						<p class="card-text" >This document store scanned barcodes from east wing</p>
						<div class="btn-group">
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalDocumentDisplay" ng-click="onView(this.doc)">View</button>
							<a class="btn btn-primary" ng-href="#!/documents/{{doc.id}}">Edit</a>
						</div>
						<button type="button" class="btn btn-danger float-right">Delete</button>
					</div>
				</div>
			</div>
		</div>
		<div class="card-footer"></div>
	</div>
	</div>
</div>