<div class="card border-primary mb-3" ng-controller="BarcodeScannerController">
	<div class="card-header border-primary btn-link" data-toggle="collapse" data-target="#cardScannerBody">Barcode Scanner</div>
	<div class="collapse show" id="cardScannerBody">	
		<div class="card-body text-center">
			<div id="barcodeCaptureDisplay" class="rounded" style="background-color: grey; width: 100%; height: 240px">
				<video id="barcodeCaptureVideo" width="100%" height="auto" ng-show="!capturedImage"></video>
				<img id="barcodeCapturedImage" alt="The screen capture will appear in this box." ng-src="{{capturedImage}}" ng-show="capturedImage">
			</div>
			<div class="output">
			</div>
      <div id="result_strip">
        <ul class="thumbnails"></ul>
      </div>
      <div id="interactive" class="viewport"></div>
			<div id="debug" class="detection"></div>
			
			<div class="btn-group d-flex mt-1 w-100 justify-content-center">
				<button type="button" class="btn btn-primary col-12 col-md-3">&orarr;</button>
				<button type="button" class="btn btn-danger col-12 col-md-3" ng-show="!capturedImage" ng-click="onCapture()">Capture &ofcir;</button>
				<button type="button" class="btn btn-success col-2 col-md-2" ng-show="capturedImage" ng-click="onAnalyze()">&check;</button>
				<button type="button" class="btn btn-warning col-2 col-md-2" ng-show="capturedImage" ng-click="onClear()">&cross;</button>
				<button type="button" class="btn btn-primary col-12 col-md-3">&olarr;</button></button>
			</div>
		</div>
		<div class="card-footer"><small class="text-muted">Status: <span ng-bind="cameraStatus">active</span></small></div>
	</div>
</div>
<div class="card border-primary mb-3" ng-controller="DecodedListController">
	<div class="card-header border-primary btn-link" data-toggle="collapse" data-target="#cardDecodedBarcodes">Decoded Barcodes</div>
	<div class="collapse show" id="cardDecodedBarcodes">
		<div class="card-body">
			<small class="text-muted">Tap barcode in the list below for insertion</small>
			<ul class="list-group">
				<li class="list-group-item list-group-item-action" ng-repeat="code in decodedList track by $index" ng-click="onSelect(this)">
					<span ng-style="code">&ggg;</span>
					<span ng-bind="code.data"></span>
				</li>
				<li class="list-group-item list-group-item-action text-center" ng-show="decodedList.length == 0">
					Once barcode is captured successfully, detected barcodes will be decoded and listed here
				</li>
				<li class="list-group-item list-group-item-action text-center pl-4 pr-4" ng-click="onSelect({code:{data: customData}})">
					<input class="form-control" type="text" placeholder="Enter custom data here" ng-model="customData" ng-click="$event.stopPropagation()">
				</li>
			</ul>
		</div>
		<div class="card-footer">
			<small class="text-muted">To insert custom data instead of barcode; fill in the field above then tap the item (by tapping on the empty space around the input field)</small>
		</div>
	</div>
</div>

<div class="card border-primary mb-3" ng-controller="SelectedDataController">
	<div class="card-header border-primary btn-link" data-toggle="collapse" data-target="#cardSelectedData">Selected data</div>
	<div class="collapse show" id="cardSelectedData">	
		<div class="card-body">
			<small class="text-muted">Tap barcode in the list below for removal</small>
			<ul class="list-group mb-3">
				<li class="list-group-item list-group-item-action" ng-repeat="code in selectedData track by $index" ng-click="onRemove($index)">
					<span ng-bind="code.data"></span>
				</li>
				<li class="list-group-item list-group-item-action text-center" ng-show="selectedData.length == 0">
					Tap an item from list above to insert data
				</li>
			</ul>
			<button class="btn btn-primary" ng-click="onInsert()">Add to document</button>
			<button class="btn btn-danger float-right" ng-click="onClear()">Clear</button>
		</div>
	</div>
</div>

<div class="card border-primary mb-3">
	<div class="card-header border-primary btn-link" data-toggle="collapse" data-target="#cardDocumentContent">Document content</div>
	<div class="collapse show " id="cardDocumentContent">	
		<div class="card-body">
			<div class="table-responsive" style="max-height: 90vw;">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>IMTS #</th>
							<th>-</th>
							<th>-</th>
							<th>-</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="row in document.data track by $index">
							<td ng-repeat="col in row track by $index" ng-bind="col"></td>
							<td><button class="btn btn-danger" ng-click="onRemoveRow($index)">Remove</button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="card-footer border-primary">
			<button class="btn btn-primary" ng-click="onSave()">Save</button>
			<button class="btn btn-danger float-right" ng-click="onDelete()">Delete</button>
		</div>
	</div>
</div>